<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav side-nav">
			<li><a href="${pageContext.request.contextPath}/"><i class="fa fa-fw fa-dashboard"></i>
					Overview</a></li>
			<li><a href="${pageContext.request.contextPath}/manage-device"><i
					class="fa fa-fw fa-edit"></i> Manage Device</a></li>
			<li><a href="${pageContext.request.contextPath}/manage-user"><i
					class="fa fa-fw fa-edit"></i> Manage User</a></li>
			<li><a href="${pageContext.request.contextPath}/report"><i
					class="fa fa-fw fa-edit"></i> Report</a></li>
			<li><a href="${pageContext.request.contextPath}/about"><i class="fa fa-fw fa-user"></i>
					About</a></li>
		</ul>
	</div>

</body>
</html>